body {
    background: #e3e3e3;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    color: #A41F78;
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: #A41F78;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
}
